* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: inherit;
}

body {
    display: flex;
    justify-content: center;
    background-color: #fffbeb;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.displayBooks {
    width: 60%;
    padding: 75px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    font-size: 20px;
    gap: 15px;
}

.displayBooks > * {
    background-color: #ecfeff;
    border: 2px dashed #22d3ee;
}

.newBook > button {
    justify-self: flex-end;
    margin-top: 75px;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 10px; 
}

form {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    padding: 30px;
    font-size: 16px;
}

input[type='text'],
input[type='number'] {
    height: 30px;
    font-size: inherit;
}

fieldset {
    border: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 15px;

    legend {
        font-size: 16px;
    }
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons > * {
    font-size: 18px;
    padding: 12px 26px;
    border-radius: 6px;
    border: none;
}

button:hover
 {
    opacity: 80%;
 }

dialog {
    width: 400px;
    border: 1px solid gray;
    border-radius: 10px;
/* display modal at the center */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
